body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

header {
    padding: 1rem;
}

header > a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    text-decoration: none;
    color: inherit;
}

header > a img {
    width: 50px;
    height: 50px;
    padding: 1rem;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.2));
    
}

header > a span {
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.navigering {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    margin: auto;
    border-radius: 10px;
    gap: 1rem;
}

.navigering a {
    display: block;
    text-decoration: none;
    color: inherit;
    color: white;
    font-weight: 30;
    background-color: #2F2681;
    padding: 0.6rem;
    margin: auto;
    border-radius: 10px;
}

.hero {
    background-color: #2F2681;
    border-radius: 10px;
}

h1 {
    color: white;
}